.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.image-operations-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 1;
}

.canvas-stack {
    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

legend {
    font-weight: bold;
    margin-bottom: 5px;
}
