<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <title>Darkroom</title>
        <link href="/static/css/styles.css" rel="stylesheet">

    </head>

    <body>
        <input type="file" id="image-input" accept="image/png, image/jpeg, image/webp, image/bmp">

        <input type="button" class="operation-btn" data-type="reset" value="Reset">
        <input type="button" class="operation-btn" data-type="filter" data-name="greyscale" value="Greyscale">
        <input type="button" class="operation-btn" data-type="filter" data-name="sepia" value="Sepia">
        <input type="button" class="operation-btn" data-type="filter" data-name="invert" value="Invert">
        <input type="button" class="operation-btn" data-type="filter" data-name="blur" value="Blur">
        <input type="button" class="operation-btn" data-type="filter" data-name="edges" value="Edges">
        <input type="button" class="operation-btn" data-type="filter" data-name="sharpen" value="Sharpen">

        <input type="button" class="operation-btn" data-type="adjust" data-name="brightness" data-amount="10" value="Brightness +10">
        <input type="button" class="operation-btn" data-type="adjust" data-name="brightness" data-amount="-10" value="Brightness -10">
        <input type="button" class="operation-btn" data-type="adjust" data-name="contrast" data-amount="1.1" value="Contrast +10%">
        <input type="button" class="operation-btn" data-type="adjust" data-name="contrast" data-amount="0.9" value="Contrast -10%">

        <label>Export As:</label>
        <select id="export-dropdown">
            <option selected disabled value="">Format</option>
            <option value="image/jpeg">JPEG</option>
            <option value="image/png">PNG</option>
            <option value="image/webp">WebP</option>
        </select>
        <input type="button" id="export-button" value="Export">

        <div id="canvas-container"></div>

        <script type="module" src="/static/js/main.js"></script>
    </body>
</html>
