<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <title>Darkroom</title>
        <link href="/static/css/styles.css" rel="stylesheet">

    </head>

    <body>
        <input type="file" accept="image/png, image/jpeg" id="image">
        <input type="button" id="grey-scale-button" value="Grey scale">
        <input type="button" id="reset-button" value="Reset">

        <div id="canvas-container"></div>

        <script src="/static/js/main.js"></script>
    </body>
</html>
