<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <title>Darkroom</title>
        <link href="/static/css/styles.css" rel="stylesheet">

    </head>

    <body>
        <div class="main-container">
            <div class="image-operations-container">
                <fieldset>
                    <legend>Import</legend>
                    <input type="file" id="image-input" accept="image/png, image/jpeg, image/webp, image/bmp">
                </fieldset>

                <fieldset>
                    <legend>Filters</legend>
                    <button type="button" class="operation-btn" data-type="reset" data-name="reset">Reset</button>
                    <button type="button" class="operation-btn" data-type="filter" data-name="greyscale">Greyscale</button>
                    <button type="button" class="operation-btn" data-type="filter" data-name="sepia">Sepia</button>
                    <button type="button" class="operation-btn" data-type="filter" data-name="invert">Invert</button>
                    <button type="button" class="operation-btn" data-type="filter" data-name="blur">Blur</button>
                    <button type="button" class="operation-btn" data-type="filter" data-name="edges">Edges</button>
                    <button type="button" class="operation-btn" data-type="filter" data-name="sharpen">Sharpen</button>
                </fieldset>

                <fieldset>
                    <legend>Adjustments</legend>
                    <button type="button" class="operation-btn" data-type="adjust" data-name="brightness" data-amount="10">Brightness +10</button>
                    <button type="button" class="operation-btn" data-type="adjust" data-name="brightness" data-amount="-10">Brightness -10</button>
                    <button type="button" class="operation-btn" data-type="adjust" data-name="contrast" data-amount="1.1">Contrast +10%</button>
                    <button type="button" class="operation-btn" data-type="adjust" data-name="contrast" data-amount="0.9">Contrast -10%</button>
                </fieldset>

                <fieldset>
                    <legend>Transformations</legend>
                    <button type="button" class="operation-btn" data-type="transform" data-name="fliph">Flip Horizontal</button>
                    <button type="button" class="operation-btn" data-type="transform" data-name="flipv">Flip Vertical</button>

                    <button type="button" class="operation-btn" data-type="transform" data-name="resize" id="resize-button">Resize</button>
                    <dialog id="resize-dialog">
                        <form method="dialog" id="resize-form">
                            <label for="resize-width-input">Width:</label>
                            <input type="number" id="resize-width-input">
                            <br>
                            <label>Height: <em><span id="resize-height-text"></span></em> (auto)</label>
                            <br><br>
                            <button type="submit">Confirm</button>
                        </form>
                    </dialog>

                    <button type="button" class="operation-btn" data-type="transform" data-name="crop" id="crop-button">Crop</button>
                    <dialog id="crop-dialog">
                        <form method="dialog">
                            <p>Crop image?</p>
                            <button value="apply">Apply</button>
                            <button value="cancel">Cancel</button>
                        </form>
                    </dialog>
                </fieldset>

                <fieldset>
                    <legend>Export</legend>
                    <select id="export-dropdown">
                        <option selected disabled value="">Format</option>
                        <option value="image/jpeg">JPEG</option>
                        <option value="image/png">PNG</option>
                        <option value="image/webp">WebP</option>
                    </select>
                    <button type="button" id="export-button">Export</button>
                </fieldset>
            </div>

            <div class="canvas-container">
                <div class="canvas-stack"></div>
            </div>
        </div>

        <script type="module" src="/static/js/main.js"></script>
    </body>
</html>
